* {
    padding: 0;
    margin: 0;
}

body{
    width: 240px;
}

main {
    background-color: #000;
    width: 100vw;
}

h3 {
    display: block;
    color: #fff;
}

iframe {
    width: 240px;
    height: 140px;
}

.section info{
    display: flex;
}

button{
    display: block;
    width: 25px;
    height: 25px;
    background-color: #4a5;
} button:hover{
    background-color: #8e9;
}

.controls input{
    width: 68px;
    height: 50px;
    border: 5px solid #00f;
    background-color: #000;
    color: #00f;
    font-size: 20px;
}

.controls input:hover{
    border: 5px solid #99f;
    color: #99f;
}

.barra {
    width: 200px;
}